on:
  push:
    branches:
      - main

env:
  ARCH: GOARCH=arm64
  LAMBDA_RUNTIME: provided.al2023
  LAMBDA_HANDLER: bootstrap
  LAMBDA_ARCH: arm64

concurrency: deploy

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '^1.25.6'
          check-latest: true
      - uses: aws-actions/setup-sam@v2
        with:
          use-installer: true
      - uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - run: go test ./... -race -coverprofile=coverage.out -covermode=atomic
      - uses: codecov/codecov-action@v5
        with:
            token: ${{ secrets.CODECOV_TOKEN }}
            verbose: true
      - run: sam build --parameter-overrides Runtime=${{ env.LAMBDA_RUNTIME }} Handler=${{ env.LAMBDA_HANDLER }} Architecture=${{ env.LAMBDA_ARCH }}
      - run: sam deploy --stack-name chat-gpt --s3-bucket ${{ secrets.S3_BUCKET }} --parameter-overrides Runtime=${{ env.LAMBDA_RUNTIME }} Handler=${{ env.LAMBDA_HANDLER }} Architecture=${{ env.LAMBDA_ARCH }} OpenAIApiKey=${{ secrets.OPENAI_API_KEY }} GeminiApiKey=${{ secrets.GEMINI_API_KEY }} VertexApiKey=${{ secrets.VERTEX_API_KEY }} CloudFlareAccountId=${{ secrets.CLOUDFLARE_ACCOUNT_ID }} CloudFlareAPIKey=${{ secrets.CLOUDFLARE_API_KEY }} AnthropicAPIKey=${{ secrets.ANTHROPIC_API_KEY }} --capabilities CAPABILITY_IAM
