on:
  pull_request:
    branches:
      - main

env:
  ARCH: GOARCH=arm64
  LAMBDA_RUNTIME: provided.al2023
  LAMBDA_HANDLER: bootstrap
  LAMBDA_ARCH: arm64

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '^1.25.6'
          check-latest: true
      - uses: aws-actions/setup-sam@v2
        with:
          use-installer: true
      - run: go test ./... -race -coverprofile=coverage.out -covermode=atomic
      - run: sam build --parameter-overrides Runtime=${{ env.LAMBDA_RUNTIME }} Handler=${{ env.LAMBDA_HANDLER }} Architecture=${{ env.LAMBDA_ARCH }}
